<section>
<div class="jumbotron">
    <p class="h1">Welcome to "let's go" shop</p>

    <p class="h4">"let's go" is a shop which were founded in 8.13 2014,With an emphasis on
    high-quality and diversity the Contemporary Craft Shop is the ideal place to find
    distinctive gifts and decorative items unlike any you might find on the high-street.
    All items are unique and include hand crafted jewellery, glassware, ceramics, textiles,
    clocks, accessories, items for children, Specialist Art & Craft publications and a wide
    range of striking prints.
    </p>

    <p class="h4">
    Staff are always available to answer questions about the artists and makers we supply in
    the shop and we can also provide printed information on the artists – their inspirations
    and processes – to take away with your purchase. Artists in stock include: Rob Whelpton,
    Cathy Miles, Kathryn Pierce, Melanie Tomlinson, Clare Webster and Hannah Nunn among many others.
    </p>

    <p class="h4">
    The Contemporary Craft Shop, in conjunction with the gallery’s Exhibition Programme, provides
    an additional opportunity to actively promote and support the work of local, regional and
    national contemporary craft makers and artists.
    </p>

    <div class="text-right">
    <a class="btn btn-primary btn-lg" href="#/list?pageNow=1">Let's Go Shopping Now >>></a>
    </div>
</div>
</section>

