<section>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1>UpdateCategory</h1>
    </div>
    <div class="panel-body">
      <div class='row text-center form-group'>
        <div class='col-xs-3 col-xs-offset-2 h5'>category_Name</div>
        <div class='col-xs-3'>
          <input type="text" class="form-control" ng-model="category.name">
        </div>
      </div>
    </div>
  <div class="panel-footer text-right">
    <a class="btn-lg btn-primary btn" href="#/categoryManage" ng-click="updateCategory(category)">Save,And go to List</a>
  </div>
  </div>
</section>
